<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AKCS</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/css/uikit.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="./assets/Css/bootstrap.min.css" />
    <link rel="stylesheet" href="./assets/Css/prettyPhoto.css" />
    <script src="./assets/Scripts/modernizr-2.6.2.js"></script>
    <link rel="style.css" href="./assets/Css/Site.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit-icons.min.js"></script>
    <script src="./assets/Scripts/jquery.1.11.1.js"></script>
    <script src="./assets/Scripts/bootstrap.js"></script>
    <script src="./assets/Scripts/bootstrap.min.js"></script>
    <script src="./assets/Scripts/contact_me.js"></script>
    <script src="./assets/Scripts/jqBootstrapValidation.js"></script>
    <script src="./assets/Scripts/jquery.isotope.js"></script>
    <script src="./assets/Scripts/jquery.parallax.js"></script>
    <script src="./assets/Scripts/jquery.prettyPhoto.js"></script>
    <!--<script src="./assets/Scripts/main.js"></script>-->
    <script src="./assets/Scripts/SmoothScroll.js"></script>
</head>
<body>
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
    <nav class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980;">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="/home">AKCS</a></li>
                <!--<li>-->
                <!--<a href="#">Knowledge Bank</a>-->
                <!--<div class="uk-navbar-dropdown">-->
                <!--<ul class="uk-nav uk-navbar-dropdown-nav">-->
                <!--<li class="uk-active"><a href="#">Active</a></li>-->
                <!--<li><a href="#">Calculators</a></li>-->
                <!--<li><a href="#">Bulletins</a></li>-->
                <!--<li><a href="#">Utilities</a></li>-->
                <!--<li><a href="#">Links</a></li>-->
                <!--<li><a href="#">Rules</a></li>-->
                <!--<li><a href="#">Forms</a></li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</li>-->
                <li><a href="/team">Our Team</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/query">query</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/contact">Contact Us </a></li>
            </ul>
        </div>
    </nav>
</div>
{{{body}}}
</body>
</html>
