<div class="uk-child-width-1-2@m" uk-grid>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="./assets/img/s1.jpg" height="100" responsive alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Audits</h3>
                <ul>
                    <li>
                        Statutory audits under Companies Act 2013
                    </li>
                    <li>Tax audits under Income tax Act 1961</li>
                    <li>Internal audits</li>
                    <li> SOX Audits</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="./assets/img/s2.jpg" height="100" responsive  alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Secretarial services</h3>
                <ul>
                    <li>
                        Incorporation related activities
                    </li>
                    <li>
                        Secretarial services including minutes preparation / form filing / application for DIN / DSC
                    </li>
                    <li>
                        Buy Back related services
                    </li>
                    <li>
                        Issue of Shares / Listing of shares
                    </li>
                </ul>  </div>
        </div>
    </div>

</div>
<div class="uk-child-width-1-2@m" uk-grid>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="./assets/img/s3.jpg" height="100" responsive alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Internal controls</h3>
                <ul>
                    <li>
                        ICFR testing

                    </li>
                    <li>
                        Process understanding and identification of controls


                    </li>
                    <li>
                        Physical verification of Fixed
                        Assets

                    </li>

                </ul>  </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="./assets/img/s4.jpg" height="100" responsive  alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Corporate restructure</h3>
                <ul>
                    <li>
                        Purchase or sale or financing of a business

                    </li>
                    <li>
                        Reconstruction and Amalgamations


                    </li>
                    <li>
                        Settlement of disputes

                    </li>

                </ul>  </div>
        </div>
    </div>

</div>
<div class="uk-child-width-1-2@m" uk-grid>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="./assets/img/s5.jpg" height="100" responsive alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Valuations</h3>
                <ul>
                    <li>
                        Valuation of shares

                    </li>
                    <li>
                        Business valuations


                    </li>
                    <li>
                        Impairment testing (IFRS / Indian GAAP)


                    </li>

                </ul>  </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="./assets/img/s6.jpg" height="100" responsive  alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Facilitation services</h3>
                <ul>
                    <li>
                        CMA data preparation


                    </li>
                    <li>
                        Loan Syndication / Financial services work / Loan  arrangement- Cash credit limit, Term loan & Project loan



                    </li>
                    <li>
                        FTP Services



                    </li>

                </ul>    </div>
        </div>
    </div>

</div>
<div class="uk-child-width-1-2@m" uk-grid>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="./assets/img/s7.jpg" height="100" responsive alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Certification</h3>
                <ul>
                    <li>
                        FEMA related services



                    </li>
                    <li>
                        Service tax refunds


                    </li>


                </ul>    </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="./assets/img/s8.jpg" height="100" responsive  alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">   STPI related
                </h3>
                <ul>
                    <li>
                        STPI registration



                    </li>
                    <li>
                        Monthly / Quarterly / half yearly / annual filing of performance returns


                    </li>

                    <li>
                        Monthly softex form filing



                    </li>




                    <li>
                        Service tax refund


                    </li>
                    <li>
                        Maintenance of FIRCs


                    </li>


                </ul>                  </div>
        </div>
    </div>

</div>
<div class="uk-child-width-1-2@m" uk-grid>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="./assets/img/s9.jpg" height="100" responsive alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">  VAT and Service Tax</h3>
                <ul>
                    <li>
                        VAT & Excise registration / return filing




                    </li>
                    <li>
                        VAT Audit



                    </li>

                    <li>
                        Excise & Service tax audit




                    </li>




                    <li>
                        Opinion for classification of goods


                    </li>
                    <li>
                        Service tax / CST / VAT refund certification


                    </li>
                    <li>
                        SVB reconciliation



                    </li>


                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="./assets/img/s10.jpg" height="100" responsive  alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">  Income tax and transfer pricing</h3>
                <ul>
                    <li>
                        TDS compliance – Monthly payments & Quarterly



                    </li>
                    <li>
                        return filing




                    </li>

                    <li>
                        Certificates for export payments – 15CA & 15CB





                    </li>




                    <li>
                        Certificates for non deduction of tax at source



                    </li>
                    <li>
                        Handling of Assessment & representations before IT & transfer pricing authorities



                    </li>
                    <li>
                        International taxation matters




                    </li>
                    <li>
                        Due diligence
                    </li>

                    <li>
                        Tax planning
                    </li>
                    <li>
                        Preparation of IT returns
                    </li>
                    <li>
                        Providing assistance in preparation of Form 3CD
                    </li>


                </ul>
            </div>
        </div>
    </div>

</div>